.section{
    padding: 1% 5%;
    /* border: 2px solid #ededed; */
}

.text{
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 5px;
    color: #25c525;
    box-shadow: 2px 2px 15px 5px #efefef;
    display: flex;
    flex-direction: column;
    border: 1 px solid red
}

.step{
    text-align: left;
}

.code-block{
    display: flex;
    justify-content: center;
}

.code-insert{
    align-self: center;
    width: 50%;
    color: #efefef;
    padding: .5rem;
    background: #000000;
    padding: 1rem;
    border-radius: 3px;
    text-align: left;
}
