#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

#container{
  width: 100%;
  border: 1px solid #25c525;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "header header header header"
  "navbar content content content"
  "navbar content content content"
  "navbar content content content"
  "navbar content content content"
  "footer footer footer footer";
}

header{
  grid-area: header;
}

nav{
  width: 200px;
  grid-area: navbar;
  border: 1px solid #25c525;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content{
  display: grid;
  grid-area: content;
}

