#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

#container{
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "navbar header header header"
  "navbar content content content"
  "navbar content content content"
  "navbar content content content"
  "navbar content content content"
  "navbar footer footer footer";
}

header{
  grid-area: header;
}

nav{
  width: 200px;
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}

.content{
  width: 90%;
  display: grid;
  grid-area: content;
  align-self: center;
  justify-self: center;
}

