#root {
  width: 100%;
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

#container{
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "navbar header header header"
  "navbar content content content"
  "navbar content content content"
  "navbar content content content"
  "navbar content content content"
  "navbar footer footer footer";
}

.page-header{
  grid-area: header;
}

.left-nav-panel{
  width: 200px;
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}


